.body {

    background-color: brown;
}
.ADA {
    text-align: center;
}
.ada {
    text-align: center;
}
img {
    height: 100%;
    width: 100%;
}
.a {
    text-decoration: none;
    color: white;
}
